@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#logo {
  height: 100px;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  background: black;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 60%);
}
#logo::before {
  margin-left: 50px;
  content: "< ";
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
#logo::after {
  content: " />";
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

body {
  min-height: 100vh;
  max-width: 100vw;

  background-color: black;
}

#id {
  font-size: 1.5rem;
}

#apresentacao {
  font-family: "Body";
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100vw;
  height: 550px;
  justify-content: center;
  align-items: center;

  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%);
  background-image: url(http://cdn130.picsart.com/302324699170201.gif);
}
#apresentacao p {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.libutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0a66c2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}
#apresentacao .img img {
  margin-top: 10px;
  width: 400px;
  border-radius: 50px;
  margin: 20px;
}
#apresentacao .img {
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.3);

  border-radius: 50px;
}
#nome {
  font-size: 70px;
}
#texto {
  background-color: rgb(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-right: 200px;
}
.h {
  background-image: url(http://cdn130.picsart.com/302324699170201.gif);
}
