img {
  width: 400px;
}
#texto4 {
  min-width: 850px;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(90deg,black,rgb(255, 255, 255, 0.3),rgb(255, 255, 255, 0.3),rgb(255, 255, 255, 0.3),black);

}

.but {
  min-width: 100px;
  min-height: 10px;
  font-size: 20px;
}
#git {
  width: 100px;
  height: 50px;
}
a {

  margin-left: 20px;
  width: 100px;
  height: 50px;
  text-decoration: none;
}

i{
margin-top: 0;
font-size: 40px;

}
#links{
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}
#links a{
text-decoration: none;
 color: black;
}
#table{
  width: 300px;
  display: flex;
 justify-content: space-between;
 text-align: center;
 

 

}
#table p{
  border: solid black 5px;
  padding: 10px;
  margin-bottom: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
}

